#area{
  margin:0 auto;
  width: 100%;
  float:left;
  margin-bottom: 19px;
}
#area:focus{
  border-color: green;
}
#area:hover{
  box-shadow: 1px 1px 4px lightgreen ,-1px -1px 4px lightgreen;
}
#prev{
display:block;

margin:0 auto;

max-width: 600px;
}
#prev div{


}
a{
  text-decoration: none;
  color:#333ddd;
}
